<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="tcp://localhost:11234/ApplicationServerService"/>
		<add name="ServerConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=RegisterFromLogonFormSolution" />
	</connectionStrings>
</configuration>
